<div class="card-columns bg-custom2">
  <% @cocktails.each_with_index do |cocktail, i| %>
    <div class="card shadow-lg bg-custom1">
      <%= cl_image_tag cocktail.photo, width: 400, height: 300, crop: :fill, alt: "#{cocktail[:name]}", class: "card-img" %>
      <div class="card-img-overlay">
        <h5 class="card-title text-center">
          <%= link_to cocktail[:name], cocktail_path(cocktail) %>
        </h5>
        <p class="card-text">
          <ul>
            <% @ingredients[i].each do |ingr| %>
              <li>
                <%= ingr[:name] %>
              </li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>
  <% end %>
</div>
